.post-stats-tbl {
    display: inline-block;
    font-size: .88889rem;
    line-height: 2;
    margin: 0 0 1.66667rem;
    max-width: 100%;
    overflow-x: auto;
    text-align: left;
    width:auto
}

.post-stats-tbl td, .post-stats-tbl th {
    border-bottom: 1px solid #eee;
    padding:.5em 5px
}

.post-stats-tbl th {
    color: #1d1d1d;
    font-weight:700
}