{{ $since := "December, 2021" }}

{{ $d := partial "poststats/data.html" . }}

{{ with $d.firstPost }}
    {{ $since = .Date.Format "January, 2006" }}
{{ end }}

{{ if gt $d.wordCount 40000 }}
    {{ $novelCount := div $d.wordCount 40000 }}
    <p class="post-stats">I have published <b>{{ $d.postCount }} posts</b> with <b>{{ $d.wordCount }} words</b> (that's almost {{ $novelCount }} novellas) since <em>{{ $since }}</em>.</p>
{{ else }}
    <p class="post-stats">I have published <b>{{ $d.postCount }} posts</b> with <b>{{ $d.wordCount }} words</b> since <em>{{ $since }}</em>.</p>
{{ end }}
